In [43]:
import pandas as pd 
import tensorflow as tf
from pymongo import MongoClient

In [44]:
mongo = MongoClient(os.environ['MONGODB_URI'])
db= mongo.associador

In [45]:
df = pd.DataFrame(list(db.opcoes_limpinhas.find({})))

In [46]:
df.head()

,_id,id_teste,escolha,tempo_total_milisegundos,p1_selecaoecao,p1_tempo,p2_selecao,p2_tempo,p3_selecao,p3_tempo,...,p47_tempo,p48_selecao,p48_tempo,p49_selecao,p49_tempo,p50_selecao,p50_tempo,p51_selecao,p51_tempo,p1_selecao
0,5faeeacadcb607d9cbd18d41,5fa9e4815aa9458cc97057a1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5faeeacadcb607d9cbd18d42,5faebdffe2402e2c3c7f3e4d,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5faeeacadcb607d9cbd18d43,NaN,NaN,0.001287,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,NaN
3,5faeeacadcb607d9cbd18d44,NaN,NaN,0.012233,NaN,0.0,0.0,0.0,0.0,0.0,...,0.448569,1.0,0.835967,1.0,0.938896,0.0,0.0,1.0,0.868665,0.0